@model IEnumerable<Rent_A_Car.Models.Car>

@{
    ViewData["Title"] = "Index";
}


<div class="invisible-container"></div>

<div class="main-container">
<h1>Cars</h1>

<p>
    <a asp-action="Create" class="button-link">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfProduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfProduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="button-mainfunc">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="button-mainfunc">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="button-mainfunc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>