@model IEnumerable<Rent_A_Car.Models.Request>

@{
	ViewData["Title"] = "Request";
}


<div class="invisible-container"></div>

<div class="main-container">
	<h1>Requests</h1>

	<p>
		<a asp-action="Create" class="button-link">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Car)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.StartDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.EndDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.User)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.CarId)
					</td>
					<td>
						@item.StartDate.ToString("MM/dd/yyyy")
					</td>
					<td>
						@item.EndDate.ToString("MM/dd/yyyy")
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.UserId)
					</td>
					<td>
						@if (User.IsInRole("Admin"))
						{
							<a asp-action="Edit" asp-route-id="@item.Id" class="button-mainfunc">Edit</a>
							<a asp-action="Details" asp-route-id="@item.Id" class="button-mainfunc">Details</a>
							<a asp-action="Delete" asp-route-id="@item.Id" class="button-mainfunc"> Delete </a>
						}
						else
						{
							<a asp-action="Details" asp-route-id="@item.Id" class="button-mainfunc">Details</a>
							<a asp-action="Delete" asp-route-id="@item.Id" class="button-mainfunc">Delete</a>
						}

					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
</div>